@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: 355 95% 70%;
  --brand-100: 355 80% 60%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: hsl(var(--brand));
  --color-brand-100: hsl(var(--brand-100));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .h1 {
    @apply text-[34px] leading-[42px] font-bold;
  }

  .body-1 {
    @apply text-[16px] leading-[24px] font-normal;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
